<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Be My Valentine? ❤️</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script defer src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>

    <audio autoplay loop>
        <source src="{{ url_for('static', filename='music/Laufey-Valentine.mp3') }}" type="audio/mpeg">
    </audio>

    <div class="container">
        <!-- Display the Image -->
        <img src="{{ url_for('static', filename='images/stardew-cat.png') }}" alt="Stardew Cats Image" class="stardew-cat-img">

        <h1>Will you be my Valentine? ❤️</h1>
        <div class="button-container">
            <a href="{{ url_for('yes') }}" class="btn">Yes ❤️</a>
            <button id="no-btn" class="btn">No 😢</button>
        </div>
    </div>

</body>
</html>
