<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yay! ❤️</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <audio id="bg-music" autoplay loop>
        <source src="{{ url_for('static', filename='music/Laufey-Valentine.mp3') }}" type="audio/mp3">
    </audio>
    
    <div class="containerYes">
        <img src="{{ url_for('static', filename='images/stardew-cat.png') }}" alt="cats" class="cat-img">
        <h1>Yay! I knew you'd say yes! ❤️🥰</h1>
        <p>Can't wait to spend Valentine's Day with you! 😘</p>
        <p>Now let's play stardew!</p>
    </div>

</body>
</html>
